<div class="followers-container">
  <div class="button-container">
      <button id="followersBtn" [class.active]="showFollowers" (click)="toggleFollowers()">Followers</button>

      <button id="followingBtn" [class.active]="showFollowing" (click)="toggleFollowing()">Following</button>
  </div>
  <div class="followers-list">
      <div class="followers" *ngIf="showFollowers">
          <div class="follower" *ngFor="let id of followersIds">
              {{ followersUsernames[id] }}
              <ng-container *ngIf="isFollowing(id)">
                  <button class="btn-in" (click)="unfollowConfirmation(id)">Unfollow</button>
              </ng-container>
              <ng-container *ngIf="!isFollowing(id)">
                  <button class="btn-in" (click)="followUser(id)">Follow</button>
              </ng-container>
              <button class="btn-message" (click)="toggleInput(id)">
                <mat-icon>message</mat-icon>
              </button>
              
              <div *ngIf="showInput(id)" class="input-container show-input">
                <textarea [(ngModel)]="userMessage" placeholder="Type your message" rows="7"></textarea>
                <button class="btn-send" (click)="sendMessage(id)">Send</button>
                <button class="btn-close" (click)="closeInput(id)">Close</button>
              </div>
              
          </div>
      </div>

      <div class="following" *ngIf="showFollowing">
          <div class="follower" *ngFor="let id of followingIds">
              {{ followingUsernames[id] }}
              <button class="btn-in" (click)="unfollowConfirmation(id)">Unfollow</button>
          </div>
      </div>
  </div>
</div>